.title-on-yellow-main{
    margin-bottom: 30px;
    margin-top:0px;

}
.title-on-yellow-main h1{
    font-size: 3rem;
    color:white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.pic-on-yellow{
    height:100px;
}
.pic-on-yellow img{
    margin-right:auto;
    margin-left:auto;
    display:block;
}
.text-on-yellow{
    margin-right:auto;
    margin-left:auto;
    display:block;
    color:white;
    text-align: center;
    font-family: 'Roboto Slab';
}
.text-on-yellow h2{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.text-on-yellow p{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-weight:bold;
}