.title-on-lightBlue-main{
    margin-bottom: 30px;
    margin-top:0px;

}
.title-on-lightBlue-main h1{
    font-size: 3rem;
    color:white;
    //text-shadow: 2px 2px 2px rgb(255, 255, 255);
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.pic-on-lightBlue{
    height:100px;
}
.pic-on-lightBlue img{
    margin-right:auto;
    margin-left:auto;
    display:block;
}
.text-on-lightBlue{
    margin-right:auto;
    margin-left:auto;
    display:block;
    color:white;
    text-align: left;
    font-family: 'Arial';
}
.text-on-lightBlue h2{
    //text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}
.text-on-lightBlue p{
    //text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-weight:bold;
    
}