.post-summary {
  position: relative;
  padding-left: auto;
  min-height: 77px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  white-space: normal;
  
  

  &__title a {
    color: $lightBlue;
    white-space: normal;
    text-decoration: none;
    
  }
  &__title .c-blue {
    color: $mainBlue;
       
  }

  &__title a:hover {
    color: #00a3ed;
    
   
  }
  &__testimonial p {
    color:white;
    
   
  }

  
}