.testimonials-part{
    background-color: #1b365d; 
    padding-top: 10px; 
   
   
}
.testimonials-part h1{
    color:white; 
    text-align:center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}
.testimonials-part h2{
    color:#fe5000; 
        text-align:center;
}
.testimonials-part .line{
     color:#fe5000; 
     font-weight:bold;
     text-align:center;
     font-family: Arial;
}
.testimonials-content{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    width: 100%;
    font-family: 'Arial';
}