$mainBlue: #1B365D;
$lightBlue:#00A3ED;
$lightOrange: #FE5000;
$darkOrange: #F95738;
.c-orange {
    color: $lightOrange;
  }
  
  .c-blue {
    color: $mainBlue;
  }
  
  .c-white {
    color: #fff;
  }
  